/****  GENERAL ****/
:root {
    --bgc1: #1D3557;
    --bgc2: #5C4D7D;
    --font: #F1FAEE;
    --btn: #457B9D;
    --hr: #E63946;
}

*{
    color: var(--font);
}
html, body {
    margin: 0;
    padding: 0;
    
}

div, a, header, footer, nav, article, section {
    display: flex;
    flex: 1;
}

img, video {
    width: 100%;
}

.colonne {
    flex-direction: column;
}

form{
    padding:2.5em;
    background-color:var(--bgc1);
}
hr{
    border: 1px solid var(--hr);
}
.center {
    justify-content: center;
    align-items: center;
}
.elmForm{
    margin:1em;
}
.btn{
    background-color: var(--btn);
    padding: 0.5em;
}