/****  GENERAL ****/

html, body {
    margin: 0;
    padding: 0;
}

div, a, header, footer, nav, article, section {
    display: flex;
    flex: 1;
}

img, video {
    width: 100%;
}

.colonne {
    flex-direction: column;
}

form{
    padding:2.5em;
    background-color:beige
}
.center {
    justify-content: center;
    align-items: center;
}
.elmForm{
    margin:1em;
}