/****  GENERAL ****/
:root {
    --bgc1: #1D3557;
    --bgc2: #5C4D7D;
    --font: #F1FAEE;
    --btn: #457B9D;
    --hr: #E63946;
}

html, body {
    margin: 0;
    padding: 0;
    
}

div, a, header, footer, nav, article, section {
    display: flex;
    flex: 1;
}

img, video {
    width: 100%;
}

.colonne {
    flex-direction: column;
}
.center {
    justify-content: center;
    align-items: center;
}
form{
    background-color: beige;
    padding:0.5em;
    border-radius: 5px;
}
.flex2{
    flex: 2;
}

/* form{
    padding:2.5em;
    background-color:var(--bgc1);
}
hr{
    border: 1px solid var(--hr);
}

.elmForm{
    margin:1em;
}
.btn{
    background-color: var(--bgc2);
    padding: 0.5em;
    border-radius: 10%;
    cursor: pointer;
}
.mdp{
    position: absolute;
}
.aideMdp{
    position: absolute;
    top: 5vh;
    background-color: var(--bgc1);
} */
