/****  GENERAL ****/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
ul li{
    list-style: none;
    text-decoration: none;
}

html{
    background-color: grey;
}
div, a, header, footer, nav, article, section, main {
    display: flex;
    flex: 1;
}

img, video {
    width: 100%;
}
nav{
    background-color:bisque;
    cursor: pointer;
}

.colonne {
    flex-direction: column;
}
.center {
    align-items: center;
}
.masquer{
    display: none;
}
.affiche{
    display: flex;
}
.categ{
    cursor: pointer;
}
.libelleCateg{
    padding: 0.5em;
}
.sousMenu>div{
    padding: 0.2em;
    font-size: 0.8em;
    margin-left: 5vw;
}
.sousMenu>div:hover{
    background-color:thistle
}
/* .sousMenu{
    display: none;
} */