
/********** GRIDS **********/

.grid-col-8 {
	display : grid;
	grid-template-columns : 2fr 2fr 2fr 2fr 2fr 0.5fr 0.5fr 0.5fr;
}

.grid-columns-span-8 { 
	grid-column:1/9;
}

.grid-col-10 {
	display : grid;
	grid-template-columns : 2fr 2fr 2fr 2fr 2fr 2fr 0.5fr 0.5fr 0.5fr 2fr;
}

.grid-columns-span-10 { 
	grid-column:1/11;
}

.grid-col-7-xl {
	display : grid;
	grid-template-columns : 1fr 2fr 1fr 2fr 1fr 2fr 1fr ;
}
	
.grid-col-6 {
	display : grid;
	grid-template-columns : 2fr 2fr 2fr 0.5fr 0.5fr 0.5fr;
}

.grid-columns-span-6 { 
	grid-column:1/7;
}

.grid-col-7 {
	display : grid;
	grid-template-columns : 2fr 2fr 2fr 2fr 0.5fr 0.5fr 0.5fr;
}

.grid-columns-span-7 { 
	grid-column:1/8;
}


.grid-col-4 {
	display : grid;
	grid-template-columns : 2fr 0.5fr 0.5fr 0.5fr;
}

.grid-columns-span-4 { 
	grid-column:1/5;
}


.grid-col-2 {
	display : grid;
	grid-template-columns : 2fr 2fr;
}

.grid-columns-span-2 { 
	grid-column:1/3;
}


.grid-col-5 {
	display : grid;
	grid-template-columns : 2fr 2fr 0.5fr 0.5fr 0.5fr;
}

.grid-columns-span-5 { 
	grid-column:1/6;
}


.gridListe div,button,a {
	justify-content: center;
	align-items: center;
}

.caseListe {
	padding : 0.2em;
}

.caseForm {
	padding : 0.2em;
}

.GridForm {
	 display : grid;
	grid-template-columns: 2fr 2fr 0.5fr 0.5fr;
	grid-gap: 0.5em;
}

.GridForm div,button,a {
	justify-content: center;
	align-items: center;
}

.flex-0-1 {
	flex:0.1;
}

.gridForm-col-span {
	grid-column: 1/5 ;
}