/* Appel d'une variable s'effectue en faisant "Var(--ColorTitle)" par exemple. */
:root {
    --color1: #cde6f5;
    --color2:#8da7be;
    --color3:#87919e;
    --color4:#91969b;
    --color5:#554640;
    --color6:#707078;
    --inputCorrect: #04724d;
    --inputIncorrect: #e94f37;
    --inputVide: #cde6f5;
    --linkColor : black;
}

html, main, body, div, a, header, footer, nav, article, section, aside, fieldset, label, input, select {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
}

video, button {
    width: 100%;
}

.colonne,main {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

header{
    background-color: var(--color5);
    color: var(--color2);
} 

header img{
    width: 50%;
}

.border{
    border: solid 2px black;
    padding: 0.5em;
}

/* body{
    background-color: var(--color4);
    
} */

footer{
    color: var(--color2);
    background-color: var(--color5);
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 15vh;
}
.footerFantome{
    height: 15vh;
}

/* Différent taille de flex. */
.vMini { flex: 0.05; }

.mini { flex: 0.2; }

.demi { flex: 0.5; }

.double { flex: 2; }

.triple { flex: 3; }

.espace {
    flex: none;
    height: 2vh;
}

.bigEspace {
    flex: none;
    height: 5vh;
}

.miniEspace {
    flex: none;
    height: 0.2vh;
}
.noDisplay{
    display: none;
}


.absolu {
    position: absolute;
    top: 5em;
    left: 5em;
}

.relative {
    position: relative;
}

a{
    text-decoration : none;
    color : var(--color1);
    justify-content: center;
	align-items: center;
}

.color1{
    color: var(--color1);
}
.color2{
    color: var(--color2);
}
.color5{
    color: var(--color5);
}