
/********** GRIDS **********/

.grid-col-7 {
	display : grid;
	border : 0.5px solid #ff0080;
	grid-template-columns : 2fr 2fr 2fr 2fr 0.5fr 0.5fr 0.5fr;}

.grid-columns-span-7 { 
	grid-column:1/8;
}

.grid-col-5 {
	display : grid;
	border : 0.5px solid #ff0080;
	grid-template-columns : 2fr 2fr 0.5fr 0.5fr 0.5fr;}

.grid-columns-span-5 { 
	grid-column:1/6;
}

.grid-col-6 {
	display : grid;
	border : 0.5px solid #ff0080;
	grid-template-columns : 2fr 2fr 2fr 0.5fr 0.5fr 0.5fr;}

.grid-columns-span-6 { 
	grid-column:1/7;
}

.grid-col-4 {
	display : grid;
	border : 0.5px solid #ff0080;
	grid-template-columns : 2fr 0.5fr 0.5fr 0.5fr;}

.grid-columns-span-4 { 
	grid-column:1/5;
}

.grid-col-8 {
	display : grid;
	border : 0.5px solid #ff0080;
	grid-template-columns : 2fr 2fr 2fr 2fr 2fr 0.5fr 0.5fr 0.5fr;}

.grid-columns-span-8 { 
	grid-column:1/9;
}

.gridListe div,button,a {
	justify-content: center;
	align-items: center;
}

.caseListe {
	border: 1px solid #ff0080;
	padding : 0.2em;
}

.caseForm {
	border: 1px solid #00aaff;
	padding : 0.2em;
}

.GridForm {
	 display : grid;
	grid-template-columns: 2fr 2fr 0.5fr 0.5fr;
	grid-gap: 0.5em;
}

.GridForm div,button,a {
	justify-content: center;
	align-items: center;
}

.flex-0-1 {
	flex:0.1;
}

.gridForm-col-span {
	grid-column: 1/5 ;
}